html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  font-family: 'DINNext', sans-serif;
}

#Tutorial-Item {
  font-family: 'FeatherBold', sans-serif;
  display: inline;
}

h1, h2, h3, h5, h6, .navbar-brand, .nav-link, .dropdown-item, .btn-group, .carousel-caption {
  font-family: 'FeatherBold', sans-serif;
}

#Header {
  background-color: #58cc02;
  color: white;
}

#Navbar {
  background-color: #58cc02;
} 

#Headquarters, #Video, #Tutorial, #Introduction{
  padding-top: 60px;
  margin-top: -60px;
}

#carousel img{
  border-radius: 1rem;
}

#Footer{
  width: 100vw;
}

#Footer img {
  height: 25vh;
  width: auto;
  max-width: 100vw;
}

p {
  text-align: justify;
}

#youtube-video, #carousel {
  width: 100%;
}

#iframe-video {
  border-radius: 1rem;
}

@media (min-width: 1200px) {
  #youtube-video, #carousel {
    width: 75%;
  }
  
}

@font-face {
  font-family: 'FeatherBold';
  src: url('assets/feather_bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DINNext';
  src: url('assets/DIN_Next_Rounded.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}